*{
    margin: 0;
    padding: 0;
}

.section{
    width: 100%;
    height: 100vh;
    position: relative;
}

.header{
    width: 100%;
    height: 40vh;
    background-image: url(/images/pattern-bg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.header h1{
    font-size: 45px;
    text-align: center;
    color: #fff;
    padding-top: 10px;
}
.header .input{
    width: 45%;
    height: 7vh;
    margin: auto;
    margin-top: 21px;
    display: flex;
}
.input input{
    width: 90%;
    border-end-start-radius: 13px;
    border-start-start-radius: 13px;
    border: none;
    padding-left: 20px;
}
.input button{
    width: 10%;
    border-end-end-radius: 13px;
    border-start-end-radius: 13px;
    border: none;
    background-color: black;
    color: #fff;
}
.input button:hover{
    background-color: hsl(0, 0%, 17%);
}

.container{
    width: 80%;
    height: 20vh;
    display: flex;
    margin: auto;
    border-radius: 15px;
    position: absolute;
    top: 12rem;
    left: 8rem;
    background-color: white;
}
.container p{
    margin-top: 20px;
    border-right: 1px solid black;
}
.container h1{
    font-size: 25px;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
}
.container .ip{
    width: 25%;
    height: 19vh; 
    text-align: center;
    font-size: 28px;
}
.container .location{
    width: 25%;
    height: 19vh;
    text-align: center;
    font-size: 28px;
}
.container .timezone{
    width: 25%;
    height: 19vh;
    text-align: center;
    font-size: 28px;
}
.container .isp{
    width: 25%;
    height: 19vh;
    text-align: center;
    font-size: 28px;
}
.bottom{
    width: 100%;
    height: 60vh;
    background-image: url(/images/icon-location.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    background-color: hsl(0, 0%, 59%);
}


@media only screen and (max-width: 1062px) {
    .header .input{
        width: 45%;
        height: 10vh;
        margin: auto;
        margin-top: 20px;
        display: flex;
    }
    .input input{
        width: 90%;
        border-end-start-radius: 13px;
        border-start-start-radius: 13px;
        border: none;
        padding-left: 20px;
    }
    .input button{
        width: 10%;
        height: 10vh;
        border-end-end-radius: 13px;
        border-start-end-radius: 13px;
        background-color: black;
        color: #fff;
    }
    .container{
        width: 80%;
        height: 20vh;
        display: flex;
        margin: auto;
        border-radius: 15px;
        position: absolute;
        top: 12rem;
        left: 7rem;
        background-color: white;
    }
    .container h1{
        font-size: 20px;
        font-weight: 600;
        font-family: Arial, Helvetica, sans-serif;
        color: black;
    }
}


@media only screen and (max-width: 768px) {
    .container{
        width: 80%;
        height: 20vh;
        display: flex;
        margin: auto;
        border-radius: 15px;
        position: absolute;
        top: 12rem;
        left: 5rem;
        background-color: white;
    }
    .container h1{
        font-size: 17px;
        font-weight: 600;
        font-family: Arial, Helvetica, sans-serif;
        color: black;
    }
}
@media only screen and (max-width: 645px) {
    .header h1{
        font-size: 35px;
        text-align: center;
        color: #fff;
        padding-top: 20px;
    }
    .header .input{
        width: 69%;
        height: 10vh;
        margin: auto;
        margin-top: 40px;
        display: flex;
    }
    .input input{
        width: 80%;
        font-size: 11px;
        border-end-start-radius: 13px;
        border-start-start-radius: 13px;
        border: none;
        padding-left: 20px;
    }
    .input button{
        width: 20%;
        height: 10vh;
        border-end-end-radius: 13px;
        border-start-end-radius: 13px;
        background-color: black;
        color: #fff;
    }
    .container{
        width: 80%;
        height: 20vh;
        display: flex;
        margin: auto;
        border-radius: 15px;
        position: absolute;
        top: 13rem;
        left: 2.5rem;
        background-color: white;
    }
    .container .ip{
        width: 25%;
        height: 19vh; 
        text-align: center;
        font-size: 12px;
    }
    .container .location{
        width: 25%;
        height: 19vh;
        text-align: center;
        font-size: 12px;
    }
    .container .timezone{
        width: 25%;
        height: 19vh;
        text-align: center;
        font-size: 12px;
    }
    .container .isp{
        width: 25%;
        height: 19vh;
        text-align: center;
        font-size: 12px;
    }
}
@media only screen and (max-width: 425px) {
    .header h1{
        font-size: 35px;
        text-align: center;
        color: #fff;
        padding-top: 10px;
    }
    .header .input{
        width: 65%;
        height: 10vh;
        margin: auto;
        margin-top: 25px;
        display: flex;
    }
    .input input{
        width: 80%;
        font-size: 11px;
        border-end-start-radius: 13px;
        border-start-start-radius: 13px;
        border: none;
        padding-left: 20px;
    }
    .input button{
        width: 20%;
        height: 10vh;
        border-end-end-radius: 13px;
        border-start-end-radius: 13px;
        background-color: black;
        color: #fff;
    }
    .container{
        width: 80%;
        height: 40vh;
        display: flex;
        flex-direction: column;
        margin: auto;
        border-radius: 15px;
        position: absolute;
        top: 11rem;
        left: 2.5rem;
        background-color: white;
    }
    .container h1{
        font-size: 15px;
        font-weight: 600;
        font-family: Arial, Helvetica, sans-serif;
        color: black;
    }
    .container p{
        text-align: center;
        margin-top: 10px;
        border-right: none;
    }
    .container .ip{
        width: 100%;
        height: 19vh; 
        text-align: center;
        font-size: 12px;
    }
    .container .location{
        width: 100%;
        height: 19vh;
        text-align: center;
        font-size: 12px;
    }
    .container .timezone{
        width: 100%;
        height: 19vh;
        text-align: center;
        font-size: 12px;
    }
    .container .isp{
        width: 100%;
        height: 19vh;
        text-align: center;
        font-size: 12px;
    }
}
@media only screen and (max-width: 329px) {
    .header h1{
        font-size: 35px;
        text-align: center;
        color: #fff;
        padding-top: 10px;
    }
    .header .input{
        width: 65%;
        height: 10vh;
        margin: auto;
        margin-top: 13px;
        display: flex;
    }
    .input input{
        width: 80%;
        font-size: 9px;
        border-end-start-radius: 13px;
        border-start-start-radius: 13px;
        border: none;
        padding-left: 20px;
    }
    .input button{
        width: 20%;
        height: 10vh;
        border-end-end-radius: 13px;
        border-start-end-radius: 13px;
        background-color: black;
        color: #fff;
    }
    .container{
        width: 80%;
        height: 40vh;
        display: flex;
        flex-direction: column;
        margin: auto;
        border-radius: 15px;
        position: absolute;
        top: 10rem;
        left: 1.6rem;
        background-color: white;
    }
    .container h1{
        font-size: 15px;
        font-weight: 600;
        font-family: Arial, Helvetica, sans-serif;
        color: black;
    }
    .container p{
        text-align: center;
        margin-top: 10px;
        border-right: none;
    }
    .container .ip{
        width: 100%;
        height: 19vh; 
        font-size: 14px;
    }
    .container .location{
        width: 100%;
        height: 19vh;
        font-size: 14px;
    }
    .container .timezone{
        width: 100%;
        height: 19vh;
        font-size: 14px;
    }
    .container .isp{
        width: 100%;
        height: 19vh;
        font-size: 14px;
    }
}
